div {

  width: 50%;
  height: 50%;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

}


label {
  padding: 3vw 3vw 3vw 0;
  display: inline-block;
  font-size: 1vw;
}

button {
  font-size : 1vw;
  height : 3vw;
  width : 9vw;
  display : inline-block;
}

