
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 'lemer.guillaume',
      xfbml      : true,
      version    : 'v6.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-page"
     data-href="https://www.facebook.com/lemer.guillaume/"
     data-tabs="messages"
     data-width="400"
     data-height="300"
     data-small-header="true">
  <div class="fb-xfbml-parse-ignore">
    <blockquote></blockquote>
  </div>
</div>
