#tchat {
  width: 65%;
  min-height: 30em;
  height: 50%;
  text-align: center;
  background-color: lightgray;
  overflow: auto;

}

.message {
  float: left;
  clear: left;
}

.message:nth-child(2n){
  float: right;
  clear: right;
}

mat-form-field {
  position:fixed;
  bottom:0px;
  width: 100%;
  min-height: 3em;
  height: auto;
}
