<!---
  <div id="tchat">
    <p class="message" *ngFor="let message of messageList">{{message}}</p>
  </div>

  <form id="formText">
    <mat-form-field appearance="fill">
      <mat-label>Say where you go to your friends !</mat-label>
      <input matInput placeholder="Where do you go ?"  #textArea [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <button class="mat-flat-button" (click)="sendMessage(textArea.value)">Send</button>
    </mat-form-field>
  </form>
  --->

<meta name = "viewport" content = "width=device-width, initial-scale=1.0" xmlns = "http://www.w3.org/1999/html">
<div id="welcome">
  <div class="container">
        <div class="row">
          <div class="col-sm-12" style="text-align: center;color:white;margin-top: 1em;margin-bottom:0.5em;font-size:3em;">You are a Zombie!</div>
          <div class="col-sm-12" style="text-align:center;margin-top: 0.5em;"><img alt="zombie.jpg" src="../../../assets/zombie.jpg"></div>
        </div>
      </div>

  </div>
