
  <div id="tchat">
    <p class="message" *ngFor="let message of messageList">{{message}}</p>
  </div>

  <form id="formText">
    <mat-form-field appearance="fill">
      <mat-label>Say where you go to your friends !</mat-label>
      <input matInput placeholder="Where do you go ?"  #textArea [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <button class="mat-flat-button" (click)="sendMessage(textArea.value)">Send</button>
    </mat-form-field>
  </form>

