<div id="all">

  <form>
    <label>Question</label>

    <table>

      <tr>

        <td>
          <button mat-raised-button (click)="ansA()">a</button>
        </td>

        <td>
          <button mat-raised-button (click)="ansB()">b</button>
        </td>

      </tr>

      <tr>
        <td>
          <button mat-raised-button (click)="ansC()">c</button>
        </td>
        <td>
          <button mat-raised-button (click)="ansD()">d</button>
        </td>
      </tr>

    </table>

  </form>

</div>
